version: '3.8'

services:
  react-app:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl  # только если есть SSL
    restart: always
    # restart: always  # раскомментировать для прода